{{> header}}
{{> navigation}}
<section id="viewMe">
        <div class="content">
            <div class="chirper">

                <h2 class="titlebar">{{username}}</h2>

                <form action="#/postChirp" method="post" id="formSubmitChirpMy" class="chirp-form">
                    <textarea name="text" class="chirp-input"></textarea>
                    <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
                </form>

                <div id="myStats" class="user-details">
                    <span>{{chirpsCount}} chirps</span> | <span>1 following</span> | <span>0 followers</span>
                </div>
            </div>
            <div id="myChirps" class="chirps">
                <h2 class="titlebar">Chirps</h2>
                {{#if noChirps}}
                <div class="chirp"><span class="loading">No chirps in database</span></div>
                {{else}}
                {{#each chirps}}
                {{> chirpsInMain}}
                {{/each}}
                {{/if}}
            </div>
        </div>
    </section>
    {{>footer}}