<div id="userlist">
                    <div class="userbox">
                        <div><a href="#/user/{{_id}}/{{username}}" class="chirp-author">{{author}}</a></div>

                        <div class="user-details">
                            <span>{{followers}} followers</span>
                        </div>
                    </div>
                </div>